<div class="modal fade sofnet-modal" id="forgotPassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="sofnet-form" novalidate name="forgotPassForm" ng-submit="forgotPassModal.requestForgotPass()">
                    <div class="logo-block">
                        <a ui-sref="app.home"> <img class="logo" src="assets/logo.png"> </a>
                    </div>
                    <div class="form-group" ng-class="{
                            'has-error': forgotPassForm.$submitted && 
                                (
                                    forgotPassForm.email.$error.required ||
                                    forgotPassForm.email.$error.email || 
                                    forgotPassModal.error
                                )
                            ,
                            'has-success': forgotPassForm.$submitted && forgotPassForm.email.$valid && !forgotPassModal.error
                            }">
                        <div class="sofnet-icon"> <i class="fa fa-envelope"></i> </div> <input type="email" name="email" class="form-control" placeholder="Please enter your email" id="email" autofocus="" ng-model="forgotPassModal.forgotPassEmail" ng-disabled="forgotPassModal.loading"
                            required> <span class="error-message" ng-show="forgotPassForm.$submitted && forgotPassForm.email.$error.required">Please enter your Email address.</span> <span class="error-message" ng-show="forgotPassForm.$submitted && forgotPassForm.email.$error.email">Invalid Email address.</span>                        <span class="error-message" ng-show="forgotPassForm.$submitted && forgotPassModal.error">{{forgotPassModal.error}}</span> </div>
                    <div class="form-group"> <button type="submit" class="btn btn-block btn-sm btn-primary">Reset</button> </div>
                </form>
            </div>
            <div class="modal-footer"> <a href="" ng-hide="forgotPassModal.loading" ng-click="forgotPassModal.closeModal()" data-dismiss="modal">
                Cancel
            </a> </div>
        </div>
    </div>
</div>