@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700,400italic);
html {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fafafa;
  font-size: 14px;
  color: #4e4e4e;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.main-wrapper.sidebar-opened {
  right: 250px;
}
.main-wrapper.sidebar-opened .sidebar-wrapper {
  display: block;
}
.main-wrapper.sidebar-opened .sidebar {
  right: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
.custom-btn {
  background-color: #f69320;
  border-color: #f69320;
  background-image: none;
  color: #fafafa;
}
.custom-btn:hover {
  color: #fafafa;
}
.or-divider {
  text-align: center;
  font-size: 20px;
  color: #b2b2b2;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 250px;
}
.or-divider:after,
.or-divider:before {
  content: "";
  display: block;
  padding: 0 40px;
  border-top: 1px solid #2faaa2;
  border-bottom: 1px solid #2faaa2;
  margin: 13px 9px;
}
.or-divider:before {
  float: left;
}
.or-divider:after {
  float: right;
}
.radio,
.checkbox {
  display: none;
}
.radio + span,
.checkbox + span {
  padding: 0;
  padding-right: 10px;
  cursor: pointer;
}
.radio + span:before,
.checkbox + span:before {
  font-family: FontAwesome;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 10px;
  color: #ededed;
}
.radio:checked + span:before,
.checkbox:checked + span:before {
  color: #2faaa2;
}
.radio:disabled + span:before,
.checkbox:disabled + span:before {
  opacity: 0.5;
  cursor: not-allowed;
}
.radio:checked:disabled + span:before,
.checkbox:checked:disabled + span:before {
  color: #ededed;
}
.checkbox + span:before {
  content: "\f0c8";
}
.checkbox:checked + span:before {
  content: "\f14a";
}
.checkbox.rounded + span:before {
  content: "\f111";
}
.checkbox.rounded:checked + span:before {
  content: "\f058";
}
.radio + span:before {
  content: "\f111";
}
.radio:checked + span:before {
  content: "\f192";
}
.radio.squared + span:before {
  content: "\f0c8";
}
.radio.squared:checked + span:before {
  content: "\f14a";
}
.section {
  min-height: 300px;
}
.section .title-block {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.section .title-block .title {
  font-size: 32px;
  font-weight: 600;
  color: #4e4e4e;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section .title-block {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .section .title-block {
    margin-top: 30px;
  }
}
.section .description {
  color: #4e4e4e;
  margin-bottom: 15px;
}
.section .box {
  position: relative;
}
.section .box .box-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  background-color: #2faaa2;
  text-align: center;
  padding: 4px;
}
.section .box .box-icon .fa {
  font-size: 32px;
  color: #fafafa;
}
.section .box .box-image {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section .box .box-content {
  padding-left: 75px;
}
.section .box .box-content.image-content {
  padding-left: 140px;
}
.section .box .box-content .box-title {
  font-size: 22px;
  color: #2faaa2;
}
.auth-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.auth-wrapper .auth-container {
  position: relative;
  height: 100%;
  z-index: 1000;
}
.auth-wrapper .auth-container .auth-box {
  position: absolute;
  top: 0;
  left: 0;
}
.auth-wrapper .auth-container .auth-box .logo {
  display: block;
  margin-bottom: 100px;
}
.auth-wrapper .auth-container .auth-box .logo img {
  height: 80px;
  width: 81px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-wrapper .auth-container .auth-box .logo {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .auth-wrapper .auth-container .auth-box .logo {
    margin-bottom: 30px;
  }
  .auth-wrapper .auth-container .auth-box .logo img {
    height: 50px;
    width: 51px;
  }
}
.auth-wrapper .auth-container .auth-box .auth-title-block {
  margin-bottom: 40px;
}
.auth-wrapper .auth-container .auth-box .auth-title-block .auth-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group.has-error .form-control {
  border-color: #FF4444 !important;
  box-shadow: none;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group.has-error span.has-error {
  color: #FF4444;
  font-size: 13px;
  display: block !important;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group .auth-icon {
  position: absolute;
  top: 13px;
  left: 10px;
  font-size: 18px;
  color: #2faaa2;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group .form-control {
  height: 45px;
  padding-left: 30px;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group .form-control:focus {
  border-color: #2faaa2;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group a {
  line-height: 27px;
  color: #b2b2b2;
}
.auth-wrapper .auth-container .auth-box .auth-form .form-group a:hover {
  color: #f69320;
  text-decoration: underline;
}
.auth-wrapper .auth-container.signin-container .auth-box {
  left: 50%;
  height: 100%;
  width: 50%;
  background-color: #fafafa;
  padding: 45px 200px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-wrapper .auth-container.signin-container .auth-box {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-wrapper .auth-container.signin-container .auth-box {
    padding-left: 50px;
    padding-right: 50px;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .auth-wrapper .auth-container.signin-container .auth-box {
    padding: 25px;
    left: 0;
    width: 100%;
  }
  .auth-wrapper .auth-container.signin-container .auth-box .auth-title-block {
    text-align: left;
    margin-bottom: 25px;
  }
  .auth-wrapper .auth-container.signin-container .auth-box .auth-title-block .auth-title {
    font-size: 20px;
  }
}
.auth-wrapper .auth-container.signup-container .auth-box {
  height: 100%;
  width: 50%;
  background-color: #fafafa;
  padding: 45px 100px;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.auth-wrapper .auth-container.signup-container .auth-box.left-box {
  top: 0;
  left: 0;
  right: auto;
}
.auth-wrapper .auth-container.signup-container .auth-box.right-box {
  top: 0;
  right: -50%;
  left: auto;
  text-align: center;
  visibility: hidden;
}
.auth-wrapper .auth-container.signup-container .auth-box.right-box.active {
  visibility: visible;
}
@media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .auth-wrapper .auth-container.signup-container .auth-box.right-box {
    right: -100%;
  }
}
.auth-wrapper .auth-container.signup-container .auth-box .auth-title-block {
  text-align: center;
}
.auth-wrapper .auth-container.signup-container .auth-box .auth-block {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 25px;
}
.auth-wrapper .auth-container.signup-container .auth-box .auth-block .auth-block-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #2faaa2;
}
.auth-wrapper .auth-container.signup-container .auth-box .auth-block .auth-block-title {
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #b2b2b2;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-wrapper .auth-container.signup-container .auth-box {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auth-wrapper .auth-container.signup-container .auth-box {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .auth-wrapper .auth-container.signup-container .auth-box {
    padding: 50px;
    width: 100%;
  }
  .auth-wrapper .auth-container.signup-container .auth-box .auth-title-block .auth-title {
    font-size: 20px;
  }
}
.auth-wrapper.open-right-box .auth-background-wrapper {
  left: 0%;
}
@media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .auth-wrapper.open-right-box .auth-background-wrapper {
    display: none;
  }
}
.auth-wrapper.open-right-box .auth-container.signup-container .auth-box.left-box {
  left: -50%;
}
.auth-wrapper.open-right-box .auth-container.signup-container .auth-box.right-box {
  right: 0%;
}
.auth-wrapper .load-wrapper {
  left: 50%;
  width: 50%;
}
.auth-background-wrapper {
  position: fixed;
  top: -25%;
  width: 50%;
  height: 150%;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.auth-background-wrapper.signin-container {
  left: 0%;
}
.auth-background-wrapper.signup-container {
  left: 50%;
}
.auth-background-wrapper .auth-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  background-attachment: scroll;
}
.auth-background-wrapper .auth-background.signin-background {
  background-image: url("../assets/background-image2.jpg");
}
.auth-background-wrapper .auth-background.signup-background {
  background-image: url("../assets/background-image1.jpg");
}
@media (max-width: 767px) {
  .auth-background-wrapper {
    display: none;
  }
}
.load-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  opacity: 0.75;
  display: none;
}
.load-wrapper.active {
  display: block;
}
.load-wrapper.bg-primary {
  background-color: #2faaa2;
}
.load-wrapper.bg-secondary {
  background-color: #f69320;
}
.load-wrapper .load-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 210px;
  height: 45px;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.load-wrapper .uil-ripple {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: .5;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.load-wrapper .ld-l {
  opacity: 0;
  -webkit-animation: ld-in 3s 0s ease infinite;
          animation: ld-in 3s 0s ease infinite;
}
.load-wrapper .ld-o {
  opacity: 0;
  -webkit-animation: ld-in 3s 0.1s ease infinite;
          animation: ld-in 3s 0.1s ease infinite;
}
.load-wrapper .ld-a {
  opacity: 0;
  -webkit-animation: ld-in 3s 0.2s ease infinite;
          animation: ld-in 3s 0.2s ease infinite;
}
.load-wrapper .ld-d {
  opacity: 0;
  -webkit-animation: ld-in 3s 0.3s ease infinite;
          animation: ld-in 3s 0.3s ease infinite;
}
.load-wrapper .ld-i {
  opacity: 0;
  -webkit-animation: ld-in 3s 0.4s ease infinite;
          animation: ld-in 3s 0.4s ease infinite;
}
.load-wrapper .ld-n {
  opacity: 0;
  -webkit-animation: ld-in 3s 0.5s ease infinite;
          animation: ld-in 3s 0.5s ease infinite;
}
.load-wrapper .ld-g {
  opacity: 0;
  -webkit-animation: ld-in 3s 0.6s ease infinite;
          animation: ld-in 3s 0.6s ease infinite;
}
@-webkit-keyframes ld-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ld-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (max-width: 767px) {
  .load-wrapper {
    width: 100%;
    left: 0;
  }
}
.footer {
  min-height: 400px;
  width: 100%;
  background-color: #4e4e4e;
  color: #b2b2b2;
}
.footer .footer-section {
  width: 100%;
}
.footer .footer-section .footer-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .footer-section .footer-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer .footer-section .footer-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer .footer-section .footer-list li a {
  display: block;
  color: #b2b2b2;
  font-size: 15px;
}
.footer .footer-section .footer-list li.list-item {
  margin: 10px 0;
  border-bottom: 1px solid #b2b2b2;
}
.footer .footer-section .footer-list li.list-item:last-child {
  border-bottom: none;
}
.footer .footer-top {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #b2b2b2;
}
.footer .footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.footer .footer-bottom .footer-title {
  font-size: 22px;
  font-style: italic;
  text-transform: inherit;
}
.footer .footer-bottom .social-menu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-block;
}
.footer .footer-bottom .social-menu li {
  float: left;
  margin-right: 15px;
}
.footer .footer-bottom .social-menu li:last-child {
  margin-right: 0;
}
.footer .footer-bottom .social-menu li a {
  font-size: 36px;
  color: #b2b2b2;
}
.section.how-it-works {
  min-height: 400px;
  background-color: #2faaa2;
}
.section.news .row {
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section.news .row {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .section.news .row {
    margin-bottom: 20px;
  }
}
.section.news .box {
  margin-bottom: 20px;
}
.section.slider {
  min-height: 350px;
}
.section.slider .carousel .carousel-control {
  background-image: none;
}
.section.slider .carousel .carousel-indicators li {
  border-color: #f69320;
}
.section.slider .carousel .carousel-indicators li.active {
  background-color: #f69320;
}
.section.slider .carousel .carousel-inner img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
  .section.slider .carousel .carousel-inner img {
    height: 400px;
  }
}
.section.slider .carousel .carousel-inner .carousel-caption {
  width: 40%;
  left: 50%;
  top: 25%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section.slider .carousel .carousel-inner .carousel-caption {
    top: 15%;
  }
}
@media (max-width: 767px) {
  .section.slider .carousel .carousel-inner .carousel-caption {
    width: 75%;
    top: 15%;
    left: 15%;
  }
}
.section.slider .carousel .carousel-inner .carousel-caption h3 {
  background-color: #f69320;
  color: #fafafa;
  padding: .5em;
}
.section.slider .carousel .carousel-inner .carousel-caption h3:first-child {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.section.slider .carousel .carousel-inner .carousel-caption h3:nth-child(2) {
  background-color: #2faaa2;
  color: #fafafa;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.section.slider .carousel .carousel-inner .carousel-caption .btn {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  margin-top: 1em;
}
.header .top-header {
  height: 40px;
  width: 100%;
  background-color: #2faaa2;
}
.header .bottom-header {
  width: 100%;
  height: 100px;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .header .bottom-header {
    height: 60px;
  }
}
.header.fixed-header .bottom-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header .social-col {
  float: left;
  width: 40%;
}
.header .social-col .social-block {
  width: 100%;
}
.header .social-col .social-block .social-menu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.header .social-col .social-block .social-menu li {
  float: left;
  margin-right: 15px;
}
.header .social-col .social-block .social-menu li:last-child {
  margin-right: 0px;
}
.header .social-col .social-block .social-menu li a {
  display: block;
  font-size: 21px;
  color: #fafafa;
  padding: 5px 0;
}
.header .social-col .social-block .social-menu li a:hover {
  color: #fafafa;
}
@media (max-width: 767px) {
  .header .social-col {
    display: none;
  }
}
.header .auth-col {
  float: left;
  width: 60%;
  text-align: right;
}
.header .auth-col .auth-block {
  width: 100%;
  position: relative;
}
.header .auth-col .auth-block ul.auth-menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.header .auth-col .auth-block ul.auth-menu > li {
  display: inline-block;
  border-left: 1px solid #fafafa;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
}
.header .auth-col .auth-block ul.auth-menu > li a {
  color: #fafafa;
  font-size: 12px;
}
.header .auth-col .auth-block ul.auth-menu > li a:hover {
  text-decoration: underline;
}
.header .auth-col .auth-block ul.auth-menu > li .dropdown .flag {
  width: 18px;
  vertical-align: baseline;
}
.header .auth-col .auth-block ul.auth-menu > li .dropdown.profile-dropdown .profile-image {
  width: 28px;
  height: 28px;
}
.header .auth-col .auth-block ul.auth-menu > li .dropdown.profile-dropdown .dropdown-menu {
  font-size: 16px;
}
.header .auth-col .auth-block ul.auth-menu > li .dropdown.profile-dropdown .dropdown-menu .fa {
  font-size: 14px;
  margin-right: 15px;
}
.header .auth-col .auth-block ul.auth-menu > li .dropdown .dropdown-menu a {
  color: #2faaa2;
  text-decoration: none;
  padding: 10px 15px;
}
.header .auth-col .auth-block ul.auth-menu > li .dropdown .dropdown-menu a:hover {
  color: #fafafa;
  background-color: #2faaa2;
  background-image: none;
}
.header .auth-col .auth-block .auth-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
.header .auth-col .auth-block .auth-search.open {
  display: block;
}
.header .auth-col .auth-block .auth-search .search-input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #2faaa2;
}
.header .auth-col .auth-block .auth-search .search-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #2faaa2;
}
@media (max-width: 767px) {
  .header .auth-col {
    width: 100%;
  }
}
.header .logo {
  float: left;
  padding: 10px 0px;
}
.header .logo img {
  height: 80px;
  width: 81px;
}
@media (max-width: 767px) {
  .header .logo {
    padding: 5px 0px;
  }
  .header .logo img {
    height: 50px;
    width: 51px;
  }
}
.header .nav-menu {
  float: right;
}
.header .nav-menu .menu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.header .nav-menu .menu li {
  float: left;
  margin-right: 15px;
}
.header .nav-menu .menu li:last-child {
  margin-right: 0px;
}
.header .nav-menu .menu li a {
  font-size: 18px;
  color: #2faaa2;
  display: block;
  font-weight: 500;
  padding: 37.5px 0;
}
.header .nav-menu .menu li a:hover {
  color: #f69320;
}
.header .nav-menu .menu li a.active {
  color: #f69320;
}
@media (max-width: 767px) {
  .header .nav-menu .menu {
    display: none;
  }
}
.header .nav-menu .btn-toggle-menu {
  display: none;
  margin: 33px 0;
  background-color: #f69320;
  color: #fafafa;
  border-color: #f69320;
}
.header .nav-menu .btn-toggle-menu:hover,
.header .nav-menu .btn-toggle-menu:focus {
  outline: none;
  background-color: #fafafa;
  color: #f69320;
}
@media (max-width: 767px) {
  .header .nav-menu .btn-toggle-menu {
    display: block;
    margin: 15px 0;
  }
}
.header .sidebar-wrapper {
  display: none;
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4e4e4e;
  background-color: rgba(78, 78, 78, 0.6);
}
.header .sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  right: -250px;
  z-index: 1200;
  background-color: #4e4e4e;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.header .sidebar .sidebar-header {
  height: 60px;
  width: 100%;
  padding: 10px 15px;
}
.header .sidebar .sidebar-menu {
  display: none;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.header .sidebar .sidebar-menu li a {
  font-size: 18px;
  color: #fafafa;
  display: block;
  font-weight: 500;
  padding: 10px 15px;
}
.header .sidebar .sidebar-menu li a:hover {
  color: #f69320;
}
.header .sidebar .sidebar-menu li a.active {
  color: #f69320;
}
@media (max-width: 767px) {
  .header .sidebar .sidebar-menu {
    display: block;
  }
}
.section.services {
  min-height: 400px;
}
.section.services .description {
  margin-bottom: 40px;
}
.section.services .row {
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section.services .row {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .section.services .row {
    margin-bottom: 20px;
  }
}
.section.services .box {
  margin-bottom: 20px;
}
.section.testimonials {
  background-color: #2faaa2;
  min-height: 200px;
}
.section.testimonials .title-block {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section.testimonials .title-block .title {
  color: #fafafa;
}
.section.testimonials .carousel {
  padding-top: 25px;
  padding-bottom: 25px;
}
.section.testimonials .carousel .testimonial-content {
  color: #fafafa;
}
.section.testimonials .carousel .testimonial-indicators {
  bottom: 0;
}
