<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && (
            editProfileForm.password.$error.minlength || 
            editProfileForm.password.$error.maxlength
        )
    }"> <label for="password">Current Password</label> <input type="password" name="password" class="form-control" placeholder="Password" id="password" autofocus="" ng-model="editProfile.userData.password" ng-minlength="6" ng-maxlength="10" ng-disabled="editProfile.loading">    <span class="error-message" ng-show="editProfileForm.$submitted && (
            editProfileForm.password.$error.minlength || 
            editProfileForm.password.$error.maxlength
        )">The password should be between 6 and 10 characters long.</span> </div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && (
            editProfileForm.newpassword.$error.minlength || 
            editProfileForm.newpassword.$error.maxlength
        )
    }"> <label for="newpassword">New Password</label> <input type="password" name="newpassword" class="form-control" placeholder="Password" id="newpassword" autofocus="" ng-model="editProfile.newpassword" ng-minlength="6" ng-maxlength="10" ng-disabled="editProfile.loading">    <span class="error-message" ng-show="editProfileForm.$submitted && (
            editProfileForm.newpassword.$error.minlength || 
            editProfileForm.newpassword.$error.maxlength
        )">The password should be between 6 and 10 characters long.</span> </div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && (
            (editProfileForm.newpassword.$invalid && editProfileForm.newpassword.$dirty) || 
            (editProfileForm.newpassword2.$invalid && editProfileForm.newpassword2.$dirty)
        )
    }"> <label for="retypePassword">Confirm New Password</label> <input type="password" name="newpassword2" class="form-control" placeholder="Retype Password" id="retypePassword" autofocus="" ng-model="editProfile.newpassword2" ng-disabled="editProfile.loading"
        match="editProfile.newpassword"> <span class="error-message" ng-show="editProfileForm.$submitted && (
            (editProfileForm.newpassword.$invalid && editProfileForm.newpassword.$dirty) || 
            (editProfileForm.newpassword2.$invalid && editProfileForm.newpassword2.$dirty)
        )">Passwords doesn't match.</span> </div>