<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && 
            (
                editProfileForm.fullname.$error.required ||
                editProfile.error
            )
        ,
        'has-success': editProfileForm.$submitted && editProfileForm.fullname.$valid
        }"> <label for="fullname">Full Name</label> <input type="text" name="fullname" class="form-control" placeholder="" id="fullname" autofocus="" ng-model="editProfile.userData.fullName" ng-disabled="editProfile.loading" required> <span class="error-message"
        ng-show="editProfileForm.$submitted && editProfileForm.fullname.$error.required">Please enter Full Name.</span> </div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && 
            (
                editProfileForm.email.$error.required ||
                editProfileForm.email.$error.email || 
                editProfileForm.error
            )
        ,
        'has-success': editProfileForm.$submitted && editProfileForm.email.$valid
        }"> <label for="email">Email</label> <input type="email" name="email" class="form-control" placeholder="" id="email" autofocus="" ng-model="editProfile.userData.email" ng-disabled="editProfile.loading" required> <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.email.$error.required">Please enter your Email address.</span>    <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.email.$error.email">Invalid Email address.</span> <span class="error-message" ng-show="editProfileForm.$submitted && editProfile.error">{{editProfile.error}}</span>    </div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && editProfileForm.workEmail.$error.email
        }"> <label for="workEmail">Email (work)</label> <input type="email" name="workEmail" class="form-control" placeholder="" id="workEmail" autofocus="" ng-model="editProfile.userData.workEmail" ng-disabled="editProfile.loading"> <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.workEmail.$error.email">Invalid Email address.</span>    </div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && editProfileForm.phone.$error.pattern
    }"> <label for="phone">Telephone (primary)</label> <input type="text" name="phone" class="form-control" placeholder="" id="phone" autofocus="" ng-model="editProfile.userData.phone" ng-disabled="editProfile.loading" ng-pattern="/^\d{3}\d{3}\d{4}$/">
    <span
        class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.phone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span>
</div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && editProfileForm.cellPhone.$error.pattern
    }"> <label for="cellPhone"> Telephone(cell)</label> <input type="text" name="cellPhone" class="form-control" placeholder="" id="cellPhone" autofocus="" ng-model="editProfile.userData.cellPhone" ng-disabled="editProfile.loading" ng-pattern="/^\d{3}\d{3}\d{4}$/">    <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.cellPhone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span> </div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && editProfileForm.homePhone.$error.pattern
    }"> <label for="homePhone">Telephone (home)</label> <input type="text" name="homePhone" class="form-control" placeholder="" id="homePhone" autofocus="" ng-model="editProfile.userData.homePhone" ng-disabled="editProfile.loading" ng-pattern="/^\d{3}\d{3}\d{4}$/">    <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.homePhone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span> </div>
<div class="form-group" ng-class="{
        'has-error': editProfileForm.$submitted && editProfileForm.workPhone.$error.pattern
    }"> <label for="workPhone">Telephone (work)</label> <input type="text" name="workPhone" class="form-control" placeholder="" id="workPhone" autofocus="" ng-model="editProfile.userData.workPhone" ng-disabled="editProfile.loading" ng-pattern="/^\d{3}\d{3}\d{4}$/">    <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.workPhone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span> </div>