<div class="modal fade sofnet-modal" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="sofnet-form" novalidate name="editProfileForm" ng-submit="editProfile.update()">
                    <div class="logo-block">
                        <a ui-sref="auth.login"> <img class="logo" src="assets/logo.png"> </a>
                    </div>
                    <!-- Accordion begin -->
                    <div id="editAccordion" class="edit-accordion" accordion>
                        <!-- Profile Details Section -->
                        <div class="accordion_in acc_active">
                            <div class="acc_head">Profile Details</div>
                            <div class="acc_content">
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && 
                                            (
                                                editProfileForm.fullname.$error.required ||
                                                editProfile.error
                                            )
                                        ,
                                        'has-success': editProfileForm.$submitted && editProfileForm.fullname.$valid
                                        }"> <label for="fullname">Full Name</label> <input type="text" name="fullname" class="form-control" placeholder="" id="fullname" autofocus="" ng-model="editProfile.userData.fullName" ng-disabled="editProfile.loading" required>                                    <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.fullname.$error.required">Please enter Full Name.</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && 
                                            (
                                                editProfileForm.email.$error.required ||
                                                editProfileForm.email.$error.email || 
                                                editProfileForm.error
                                            )
                                        ,
                                        'has-success': editProfileForm.$submitted && editProfileForm.email.$valid
                                        }"> <label for="email">Email</label> <input type="email" name="email" class="form-control" placeholder="" id="email" autofocus="" ng-model="editProfile.userData.email" ng-disabled="editProfile.loading" required> <span class="error-message"
                                        ng-show="editProfileForm.$submitted && editProfileForm.email.$error.required">Please enter your Email address.</span> <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.email.$error.email">Invalid Email address.</span>                                    <span class="error-message" ng-show="editProfileForm.$submitted && editProfile.error">{{editProfile.error}}</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && editProfileForm.workEmail.$error.email
                                        }"> <label for="workEmail">Email (work)</label> <input type="email" name="workEmail" class="form-control" placeholder="" id="workEmail" autofocus="" ng-model="editProfile.userData.workEmail" ng-disabled="editProfile.loading">                                    <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.workEmail.$error.email">Invalid Email address.</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && editProfileForm.phone.$error.pattern
                                    }"> <label for="phone">Telephone (primary)</label> <input type="text" name="phone" class="form-control" placeholder="" id="phone" autofocus="" ng-model="editProfile.userData.phone" ng-disabled="editProfile.loading" ng-pattern="/^\d{3}\d{3}\d{4}$/">                                    <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.phone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && editProfileForm.cellPhone.$error.pattern
                                    }"> <label for="cellPhone"> Telephone(cell)</label> <input type="text" name="cellPhone" class="form-control" placeholder="" id="cellPhone" autofocus="" ng-model="editProfile.userData.cellPhone" ng-disabled="editProfile.loading"
                                        ng-pattern="/^\d{3}\d{3}\d{4}$/"> <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.cellPhone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && editProfileForm.homePhone.$error.pattern
                                    }"> <label for="homePhone">Telephone (home)</label> <input type="text" name="homePhone" class="form-control" placeholder="" id="homePhone" autofocus="" ng-model="editProfile.userData.homePhone" ng-disabled="editProfile.loading"
                                        ng-pattern="/^\d{3}\d{3}\d{4}$/"> <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.homePhone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && editProfileForm.workPhone.$error.pattern
                                    }"> <label for="workPhone">Telephone (work)</label> <input type="text" name="workPhone" class="form-control" placeholder="" id="workPhone" autofocus="" ng-model="editProfile.userData.workPhone" ng-disabled="editProfile.loading"
                                        ng-pattern="/^\d{3}\d{3}\d{4}$/"> <span class="error-message" ng-show="editProfileForm.$submitted && editProfileForm.workPhone.$error.pattern">Please provide your phone in correct format, Eg. 8881234567.</span> </div>
                            </div>
                        </div>
                        <!-- Password Reset Section -->
                        <div class="accordion_in">
                            <div class="acc_head">Password reset</div>
                            <div class="acc_content">
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && (
                                            editProfileForm.password.$error.minlength || 
                                            editProfileForm.password.$error.maxlength
                                        )
                                    }"> <label for="password">Current Password</label> <input type="password" name="password" class="form-control" placeholder="Password" id="password" autofocus="" ng-model="editProfile.userData.password" ng-minlength="6" ng-maxlength="10"
                                        ng-disabled="editProfile.loading"> <span class="error-message" ng-show="editProfileForm.$submitted && (
                                            editProfileForm.password.$error.minlength || 
                                            editProfileForm.password.$error.maxlength
                                        )">The password should be between 6 and 10 characters long.</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && (
                                            editProfileForm.newpassword.$error.minlength || 
                                            editProfileForm.newpassword.$error.maxlength
                                        )
                                    }"> <label for="newpassword">New Password</label> <input type="password" name="newpassword" class="form-control" placeholder="Password" id="newpassword" autofocus="" ng-model="editProfile.newpassword" ng-minlength="6" ng-maxlength="10"
                                        ng-disabled="editProfile.loading"> <span class="error-message" ng-show="editProfileForm.$submitted && (
                                            editProfileForm.newpassword.$error.minlength || 
                                            editProfileForm.newpassword.$error.maxlength
                                        )">The password should be between 6 and 10 characters long.</span> </div>
                                <div class="form-group" ng-class="{
                                        'has-error': editProfileForm.$submitted && (
                                            (editProfileForm.newpassword.$invalid && editProfileForm.newpassword.$dirty) || 
                                            (editProfileForm.newpassword2.$invalid && editProfileForm.newpassword2.$dirty)
                                        )
                                    }"> <label for="retypePassword">Confirm New Password</label> <input type="password" name="newpassword2" class="form-control" placeholder="Retype Password" id="retypePassword" autofocus="" ng-model="editProfile.newpassword2"
                                        ng-disabled="editProfile.loading" match="editProfile.newpassword"> <span class="error-message" ng-show="editProfileForm.$submitted && (
                                            (editProfileForm.newpassword.$invalid && editProfileForm.newpassword.$dirty) || 
                                            (editProfileForm.newpassword2.$invalid && editProfileForm.newpassword2.$dirty)
                                        )">Passwords doesn't match.</span> </div>
                            </div>
                        </div>
                        <!-- Notifications Section -->
                        <div class="accordion_in">
                            <div class="acc_head">Notifications</div>
                            <div class="acc_content"> 789 </div>
                        </div>
                    </div>
                    <div class="form-group"> <button type="submit" class="btn btn-block btn-sm btn-primary">Save</button> </div>
                </form>
            </div>
            <div class="modal-footer"> <a href="" ng-hide="editProfile.loading" ng-click="editProfile.closeModal()" data-dismiss="modal">
                    Cancel
                </a> </div>
        </div>
    </div>
</div>