<div class="modal fade sofnet-modal" id="activationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="sofnet-form" novalidate name="activationForm" ng-submit="activationModal.requestActiveCode()">
                    <div class="logo-block">
                        <a ui-sref="app.home"> <img class="logo" src="assets/logo.png"> </a>
                    </div>
                    <div class="form-group" ng-class="{
                            'has-error': activationForm.$submitted && 
                                (
                                    activationForm.email.$error.required ||
                                    activationForm.email.$error.email || 
                                    activationModal.error
                                )
                            ,
                            'has-success': activationForm.$submitted && activationForm.email.$valid && !activationModal.error
                            }">
                        <div class="sofnet-icon"> <i class="fa fa-envelope"></i> </div> <input type="email" name="email" class="form-control" placeholder="Please enter your email" id="email" autofocus="" ng-model="activationModal.activateEmail" ng-hide="activationModal.loading"
                            required> <span class="error-message" ng-show="activationForm.$submitted && activationForm.email.$error.required">Please enter your Email address.</span> <span class="error-message" ng-show="activationForm.$submitted && activationForm.email.$error.email">Invalid Email address.</span>                        <span class="error-message" ng-show="activationForm.$submitted && activationModal.error">{{activationModal.error}}</span> </div>
                    <div class="form-group"> <button type="submit" class="btn btn-block btn-sm btn-primary">Activate</button> </div>
                </form>
            </div>
            <div class="modal-footer"> <a href="" ng-hide="activationModal.loading" ng-click="activationModal.closeModal()" data-dismiss="modal">
                    Cancel
                </a> </div>
        </div>
    </div>
</div>