<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 legal-block">
                <h3 class="footer-title">Legal</h3>
                <ul>
                    <li> <a fancybox class="various fancybox.ajax" href="/templates/popup-pages/terms-and-policy/terms-and-policy.html" id="cpr">Copyright</a> </li>
                    <li> <a class="various fancybox.ajax" href="policy" id="policy">Policy</a> </li>
                    <li> <a class="various fancybox.ajax" href="tnc" id="tncRead1">Terms and Conditions</a> </li>
                    <li> <a class="various fancybox.ajax" href="privacy" id="privacy">Privacy</a> </li>
                </ul>
            </div>
            <div class="col-md-2 support-block">
                <h3 class="footer-title">Support</h3>
                <ul>
                    <li> <a href="helpfaq">Help</a> </li>
                    <li> <a href="reportabuse">Report Abuse</a> </li>
                    <li> <a href="contactsupport">Contact Support</a> </li>
                </ul>
            </div>
            <div class="col-md-2 info-block">
                <h3 class="footer-title">Information</h3>
                <ul>
                    <li> <a class="various fancybox.ajax" href="aboutus" id="aboutus">About Us</a> </li>
                    <li> <a href="suggestion">Suggestions</a> </li>
                    <li> <a href="feedback">Feedback</a> </li>
                    <li> <a href="contactus">Contact Us</a> </li>
                </ul>
            </div>
            <div class="col-md-2 subscribe-block">
                <h3 class="footer-title">Mailing List</h3> <strong>Subscribe for news updates and more!</strong>
                <form id="subscribe" name="subscribe" action="subscribe" method='POST'>
                    <div> <input name="email" type="email" id="text" placeholder="Enter Email" class="col_8" /> </div> <br />
                    <div> <button type="submit" class="btn btn-small btn-primary" type="submit">Subscribe</button> </div>
                </form>
            </div>
            <div class="col-md-4 social-block">
                <h3 class="footer-title">Social</h3> <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FSoftnet%2F585049861595406&amp;width=200&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=125169414345893"
                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:150px;" allowTransparency="false"></iframe> </div>
        </div>
        <div class="col-md-12 social-buttons-block">
            <sharethis share-url="http://softnet.elasticbeanstalk.com/" button-type="count"></sharethis>
        </div>
        <div class="col-md-12 copyright-block"> Copyright 2014 All Rights Resevered. www.softnet.com </div>
    </div>
</footer>
<!-- <span class='st_fblike_hcount' displayText='Facebook Like'></span>
			<span class='st_fbrec_hcount' displayText='Facebook Recommend'></span>
			<span class='st_plusone_hcount' displayText='Google +1'></span>
			<span class='st_twitterfollow_hcount' displayText='Twitter Follow' st_username='softnet'></span> -->