<div class="modal fade sofnet-modal" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ng-include src="'templates/auth/signup-modal/signup-form/signup-form.html'" include-replace></ng-include>
            </div>
            <div class="modal-footer"> <a href="" ng-hide="signupModal.loading" ng-click="signupModal.closeModal()" data-dismiss="modal">
                    Cancel
                </a> </div>
        </div>
    </div>
</div>